<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="download.manager.arc.downloader">

    <application android:name="download.manager.arc.DownloadManager.App">
        <service android:name="download.manager.arc.DownloadManager.service.DownloadService" />

        <receiver
            android:name="download.manager.arc.DownloadManager.util.CustomReceiver"
            android:exported="false" />

        <activity
            android:name="download.manager.arc.DownloadManager.ui.activity.AppListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>